@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --notepad-title-color: #d3d3d3;
    /* Light gray for title color */
    --contact-form-background-color: #2c2c2c;
    /* Dark gray background for the contact form */
    --contact-form-field-background-color: #3b3b3b;
    /* Slightly lighter dark gray background for form fields */
    --webpage-background-color: #1c1c1c;
    /* Very dark gray background color */
    --notepad-background-color: #2c2c2c;
    /* Dark gray background for notepads */
    --notepad-font-family: 'Exo 2', sans-serif;
    /* Exo 2 as the font family */
    --box-shadow-color: #555555;
    /* Medium gray box shadow color */
    --box-border-color: #555555;
    /* Medium gray box border color */
    --text-color: #e0e0e0;
    /* Light gray text color */
    --button-arrow-color: #ff6347;
    /* Tomato color for button arrows */
    --notepad-math-physics-background-color: #2c2c2c;
    /* Dark gray background for math and physics section */
    --semesters-button-color: #ff6347;
    /* Tomato color for semesters button color */
    --title-box-border-color: #d3d3d3;
    /* Light gray border for title boxes */
    --content-box-border-color: #777777;
    /* Medium gray border for content boxes */
    --plot-grades-box-color: #ffa500;
    /* Orange color */
    --contact-form-button-color: #ff6347;
    /* Tomato color for contact form button color */
    --navbar-background-color: #333333;
    /* Dark gray background color for navbar */
    --navbar-text-color: #e0e0e0;
    /* Light gray text color for navbar */

    --course-details-background-color: #2c2c2c;
    /* Dark gray background */
    --course-details-text-color: #e0e0e0;
    /* Light gray text color */
    --course-details-table-color: #e0e0e0;
    /* Light gray for table text */
    --text-color: #cccccc;
    /* Light gray for general text */
    --course-table-border-color: #444444;
    /* Dark gray for table borders */
    --footer-background-color: #111111;
    /* Very dark gray background for footer */
}