@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --notepad-title-color: #563727;
    --contact-form-background-color: #f0f0f0;
    /* Light gray background for the contact form */
    --contact-form-field-background-color: #e0e0e0;
    /* Slightly darker background for form fields */
    --webpage-background-color: #e6e3e3;
    /* Light gray background color */
    --notepad-background-color: #f0f0f0;
    /* Light gray background for notepads */
    --notepad-font-family: 'Exo 2', sans-serif;
    /* Exo 2 as the font family */
    --box-shadow-color: #b38952;
    /* Lighter box shadow color */
    --box-border-color: #b38952;
    /* Lighter box border color */
    --text-color: #333333;
    /* Dark gray text color */
    --button-arrow-color: #80461B;
    --notepad-math-physics-background-color: #f0f0f0;
    /* Light gray background for math and physics section */
    --semesters-button-color: #80461B;
    --title-box-border-color: #563727;
    /* Dark brown border for title boxes */
    --content-box-border-color: #999999;
    /* Light gray border for content boxes */
    --plot-grades-box-color: #b38952;
    /* Goldenrod color */
    --contact-form-button-color: #80461B;
    --navbar-background-color: #ffffff;
    /* White background color for navbar */
    --navbar-text-color: #333333;
    /* Dark gray text color for navbar */

    --course-details-background-color: #f0f0f0;
    /* Light gray background */
    --course-details-text-color: #333333;
    /* Dark gray text color */
    --course-details-table-color: #333333;
    /* Dark gray for table text */
    --text-color: #555555;
    /* Medium gray for general text */
    --course-table-border-color: #cccccc;
    /* Light gray for table borders */
    --footer-background-color: rgb(57, 57, 57);
}