.project-container {
    padding: 2%
}

.work-notepad-content {
    margin-top: 3%;
    /* Adjust the gap between columns */
    /* Add padding to the whole content area */
    background-color: var(--notepad-background-color);
    /* Relative positioning for the flip */
    font-family: var(--notepad-font-family);
    /* Use your desired font family */
    /* Darker border for content */
    font-size: 0.5em;
    /* Larger font size */
    color: var(--text-color);
    /* Lighter text color */
    /* Justify text */
    /* Equal width to the container */
    height: 40%;
    padding: 2%;
}

.content-about-project {
    /* Take up 2 parts of the available space */
    /* Optional: Add top margin */
    font-size: 1em;
    /* Optional: Adjust font size */
    color: var(--text-color);
    /* Optional: Adjust text color */
    /* Optional: Justify text */
}

.separation {
    border-top: 3px dashed var(--box-border-color);
}

.skill-set-and-description {
    line-height: 1.6;

    /* Adjust the gap between columns */
    /* Add padding to the whole content area */
    background-color: var(--notepad-background-color);
    /* Relative positioning for the flip */
    font-family: var(--notepad-font-family);
    /* Use your desired font family */
    /* Darker border for content */
    border-radius: 10px;
    font-size: 0.5em;
    /* Larger font size */
    color: var(--text-color);
    /* Lighter text color */
    /* Justify text */
    /* Equal width to the container */
    text-align: left;
}


.work-notepad-content table {
    width: 100%;
}

.work-notepad-content td {
    white-space: nowrap;
}

.github-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: var(--semesters-button-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.github-button:hover {
    background-color: #555;
    /* Darker shade on hover */
}