.app-body {
    /* background-image: url('../src/assets/images/backgroundImage.jpg');
      background-size: cover;
      background-repeat: no-repeat; */


    background: linear-gradient(-90deg, #ffffff, #2f00ff);

    /* Adjust gradient angle (135deg), start color (#1f1f1f), and end color (#000) */
    color: #fff;
    /* Light text color for contrast */
    opacity: 0.9;
    /* Adjust opacity to 90% (0.1 fully transparent, 1 fully opaque) */
}