  .notepads-style {
    color: #fff;
    font-size: 2em;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .notepad-math-physics .container {
    width: 90%;
    background-color: #424141;

  }

  .notepad-math-physics .button-container button {
    background-color: #424141
  }

  .notepad-math-physics .button-container {
    margin-left: auto;
    /* Push this element to the right */
  }

  .fade-in {
    opacity: 0;
    /* Start with opacity 0 (fully transparent) */
    transition: opacity 2s ease-in-out;
    /* Transition opacity over 0.5 seconds */
  }

  .visible {
    opacity: 1;
    /* Change opacity to 1 (fully opaque) when .visible class is applied */
  }